<ion-view view-title="Locked">
    <ion-content>

        <div class="card">
            <div class="item item-text-wrap">

                <label class="item item-input">
                    <span class="input-label">Secret Key</span>
                    <input type="password">
                </label>
                <button ng-click="doLogin()" class="button button-block button-positive">
                    Login
                </button>

            </div>
        </div>

    </ion-content>
</ion-view>